.fixed-bg {
	background: url('../assets/images/london.jpg') no-repeat;
	min-height: 800px;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
	width: 100%;
	height: 15%;
}
.title {
	margin-top: -10px;
}

.navlist {
	margin-top: -60px;
	margin-right: 20px;
}

.hidden {
    display: none !important;
}

.button:link,
.button:visited {
    background-color: black;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 120px;
}

.button:hover,
.button:active {
    background-color: pink;
}

h1 {
	color: white;
	text-decoration: underline;
	text-align: center;
	padding: 10px;
	font-family: 'Shadows Into Light Two', cursive;
}

.section1 {
	height: 800px;
	background-color: black;
	padding-top: 50px;
}

.london {
	border: 1px solid white;
	height: 700px;
	opacity: 0.5;
	align-content: center;
}

h2 {
	color: white;
	text-decoration: underline;
	text-align: center;
	padding: 10px;
	font-family: 'Shadows Into Light Two', cursive;
}

.fixed-bg2 {
	background: url('../assets/images/oktoberfest.jpg') no-repeat;
	min-height: 800px;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section2 {
	height: 800px;
	background-color: black;
	padding-top: 50px;
}

.germany {
	border: 1px solid white;
	height: 700px;
	opacity: 0.5;
	align-content: center;
}

.fixed-bg3 {
	background: url('../assets/images/vegas.jpg') no-repeat;
	min-height: 800px;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section3 {
	height: 800px;
	background-color: black;
	padding-top: 50px;
}

.vegas {
	border: 1px solid white;
	height: 700px;
	opacity: 0.5;
	align-content: center;
}

.footer {
    background-color: #282828;
    color: white;
   	padding: 15px;
    text-align: center;
    font-size: 13px;
    width: 100%;
    height: 15%;
	line-height: 3.8em;
	bottom: 0;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover,
.offcanvas a:focus {
    color: pink;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    color: white;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

/*@media screen and (max-width: 575px) {
    .aboutMe {
        height: auto;
    }
    .information {
        padding-right: 50px;
        margin-left: 70px;
    }
    .profile {
        width: 110%;
        margin-left: -20px !important;
    }
    .paragraph {
        margin-bottom: 0px;
        padding-bottom: 30px;
    }
}*/

/*@media screen and (max-width: 840px) {
    .information {
        width: 80%;
    }
}*/

@media screen and (max-width: 860px) {
/*    .profile {
        margin-left: -50px;
    }
    .information {
        margin-right: 10px;
    }*/
    #main {
        height: 60px;
        margin-top: -80px;
    }
}

@media screen and (max-width: 1050px) {
    .hidden {
        display: block !important;
        z-index: 1 !important;
    }
    .navlist {
        display: none !important;
    }
    .sidenav {
        font-family: 'Shadows Into Light Two', cursive;
    }
    .title {
        z-index: -1 !important;
    }
    .container-fluid {
        z-index: -1 !important;
    }
    #main {
        height: 60px;
        margin-top: -30px;
    }
}

@media screen and (max-width: 1165px) {
    .navlist {
        margin-top: -60px;
        margin-left: -30px;
    }
    h1 {
        font-size: 30px;
    }
}